* {
    margin: 0;
    padding: 0;
}
form {
    padding: 20px;
}
.formLabel {
    display: inline-block;
    width: 150px;
    height: 30px;
    font-size: 18px;
    line-height: 110%;
}
input[type="text"] {
    width: 400px;
    border: none;
    height: 30px;
    font-size: 15px;
    border-bottom: 2px solid #000;
}
input[type="submit"] {
    width: 100px;
    height: 30px;
}
tr {
    height: 20px;
}
#tbody > thead > tr > th, #tbody > thead > tr > td {
    display: inline-block;
    margin: 10px;
    min-width: 100px;
    text-align: center;
}
#searchFiled, #tableDiv {
    margin: 20px;
}