body {
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 100%);
}

#form {
    width: 412px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #87CEFA;
    padding: 30px;
    border-radius: 20px;
}

.input-form {
    width: 400px;
    border-radius: 15px;
    height: 20px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 10px;
    background-color: white;
    color: black;
}

.input-form:invalid {
    border: 1px solid rgb(255, 0, 0);
}

.input-form:valid {
    border: 1px solid rgb(0, 255, 0);
}

.form-label {
    font-size: 13px;
    color: #333;
}

#btn-fill {
    width: 120px;
    height: 20px;
    border: 0px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}